<article class="article-overview article-overview--featured">
    <a href="{{ post.link }}">
        <figure class="article-overview__thumbnail">
            <img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.src }}">
        </figure><!-- .article-overview__thumbnail -->
    </a>
    <header class="article-overview__header">
        <ul class="article-overview__tags">
            {% for tag in post.tags %}
            <li class="article-overview__tag">{{ tag }}</li>
            {% endfor %}
        </ul><!-- .article-overview__tags -->
        <h2 class="article-overview__title">
            <a href="{{ post.link }}">{{ post.title }}</a>
        </h2><!-- .article-overview__title -->
        <p class="article-overview__excerpt">{{ post.get_preview(50, false, false, false, false) }}</p>
        <div class="article-overview__infos">
            <time class="article-overview__date" datetime="{{ post.date | date('Y-m-d H:i') }}" pubdate>
                {{ post.date }}
            </time><!-- .article-overview__date -->
            {% if post.get_comment_count() %}
            <span class="article-overview__comments">
                {{ post.get_comment_count() }}
                <span class="sr-only">{{ __('Comments') | lower }}</span>
            </span><!-- .article-overview__comments -->
            {% endif %}
        </div><!-- .article-overview__infos -->
    </header><!-- .article-overview__header -->
</article><!-- .article-overview -->
