{# Page header template #}

<header class="banner" id="banner">
    <div class="banner__container container">
        <div class="banner__title">
            {% if fn('is_front_page') %}<h1>{% else %}<a href="{{ site.url }}">{% endif %}
                <img class="banner__logo" src="{{ site.theme.uri }}/assets/dist/img/bricks-pixels-logo.svg" alt="Bricks and Pixels written in a typical Amsterdamer typography" />
            {% if fn('is_front_page') %}</h1>{% else %}</a>{% endif %}
        </div><!-- .banner__title -->
        <ul class="banner__nav navigation {{ navigations.blog.slug }}" role="navigation" aria-label="{{ __('Main') }}">
            {% for item in navigations.blog.get_items %}
                <li class="navigation__item {{ item.classes | join(' ') }}">
                    <a class="navigation__link" href="{{ item.link }}" target="{{ item.target }}">
                        {{ item.title }}
                    </a><!-- .navigation__link -->
                </li><!-- .navigation__item -->
            {% endfor %}
        </ul><!-- .banner_nav -->
        <ul class="banner__nav banner__nav--social navigation {{ navigations.social.slug }}" role="navigation" aria-label="{{ __('Social') }}">
            {% for item in navigations.social.get_items %}
                <li class="navigation__item {{ item.classes | join(' ') }}">
                    <a class="navigation__link" href="{{ item.link }}" target="{{ item.target }}">{{ item.title| lower }}</a>
                </li><!-- .navigation__item -->
            {% endfor %}
        </ul><!-- .banner__nav -->
    </div><!-- .banner__container -->
</header><!-- .banner -->
