{# Theme layout twig file #}
<!doctype html>
<html class="no-js" lang="{{ site.language }}">
<head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//fast.fonts.net/cssapi/b5378482-5d8b-4bbd-bc33-783a53ca5058.css">
    {{ wp_head }}
</head>
<body class="{{ body_class }}">
    {% include 'banner.twig' %}
    <div class="container">
        {% block sidebar %}{% endblock %}
        <main class="content">
            {% block content %}{% endblock %}
        </main><!-- .global__content -->
        {% include 'footer.twig' %}
        {{ wp_footer }}
    </div><!-- .container -->
</body>
</html>
